.skills {
    background-color: white;
}
.tittleskills{
    text-align: center;
    color: $color1;
    margin-bottom: 10vh;
}
.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
}

.borderlist {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: solid $color1;
    border-radius: 20px;
    margin-left: 20px;
    padding: 2em;
    -webkit-box-shadow: -13px 10px 21px 0px rgba(0,0,0,0.79);
-moz-box-shadow: -13px 10px 21px 0px rgba(0,0,0,0.79);
box-shadow: -13px 10px 21px 0px rgba(0,0,0,0.79);
@media  screen and (max-width:767px) {
        padding: 0.7em;
        margin: 0.7em;
    }
}



.roll-in-blurred-right {
        -webkit-animation: roll-in-blurred-right 1s ease-in 0.6s both;
                animation: roll-in-blurred-right 1s ease-in 0.6s both;
    }
    @-webkit-keyframes roll-in-blurred-right {
        0% {
          -webkit-transform: translateX(1000px) rotate(720deg);
                  transform: translateX(1000px) rotate(720deg);
          -webkit-filter: blur(50px);
                  filter: blur(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes roll-in-blurred-right {
        0% {
          -webkit-transform: translateX(1000px) rotate(720deg);
                  transform: translateX(1000px) rotate(720deg);
          -webkit-filter: blur(50px);
                  filter: blur(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }