.Home {
    height: 100vh;
    background-color: $color3;
}
.gif{
    margin-left: 100px;
    width: 10;
    height: 30vmin;
    display: flex;
    gap: 5px;
}

.tittle {
    background-color: $color1;
    text-align: center;
}