.imgqr {
    width: 45vh;
    height: 45vh;
}
.backqr {
    background-color: $color1;
}

.qrblur {
    backdrop-filter: blur(10px);
    
}


.buttonqr {
    @media  screen and (max-width:767px) {
       display: none;
    }
}